*{
  font-size: 30px
}
div>h1{
  color:#F4B400;;
  text-align: center;
  text-decoration: underline;
}
td>img{
  border-radius: 10px;
}



.div {
  color: antiquewhite;
  text-align: left;
  padding: 5px;
  font-size: 20px;
}

.hr {
  border: 1px solid orange
}

.div2 {
  color: darkkhaki;
  font-size: 20px;
}

.cehennem {
  color: crimson;
  font-size: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.body {
  font-size: 35px
}



/*header*/
.header {
  overflow: hidden;
  background-color: #36393f;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: antiquewhite;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.logo {
  border-radius: 50%;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  border-radius: 50%;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: white;
  color: white;
}

.header-right {
  float: right;
}

/*END OF THE header*/
/*discord iframe animations*/
@keyframes discord {
  0% {
    height: 70px;
    width: 250px;
  }

  100% {
    height: 500px;
    width: 350px;
  }
}

@keyframes discord-c {
  0% {
    height: 500px;
    width: 350px;
  }

  100% {
    height: 70px;
    width: 250px;
  }
}

.discord {
  animation-name: discord-c;
  animation-duration: 2s;
  animation-play-state: ;
  float: right;
  height: 70px;
  width: 250px;
}

.discord:hover {
  height: 500px;
  width: 350px;
  float: right;
  animation-name: discord;
  animation-duration: 2s;
  animation-play-state: ;
}

/*END OF THE discord iframe animations*/
