.div{
    color:antiquewhite;
    text-align: right;
 
}
.hr{
    border:1px solid orange
        
}
.div2{
    color:darkkhaki
    
}
.cehennem{
    margin-left: 520px;
        color:crimson
    
}

